.homeScreenProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Product {
    width: 300px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.Product img{
    
    max-height:100%;
    width:auto;
    border-radius: 8px;
}

.productInfo{
    margin-bottom: 8px;
}

.infoPrice{
    font-weight: bold
}

.productName{
    font-size: 1rem;
    overflow: hidden;
}

.productDescription{
    font-size: 0.8 rem;
}

.infoButton{
    display: block;
    width: 100%;
    text-decoration: none ;
    text-align: center;
    color:white;
    background-color:midnightblue ;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid black
}

/*media query*/

@media (max-width: 1280px){
    .homeScreenProducts {
        
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px){
    .homeScreenProducts {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px){
    .homeScreenProducts {
    grid-template-columns: repeat(1, 1fr);
    }
}

/* product_details */

.product_details{
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;

    
}

.details_left{
display: flex ;
flex: 1;
justify-content: flex-start;
}



.details_image{
    flex: 0.6;
    max-width: 200px;
    height: auto;
    width: auto;
   
    
}

.left_info{
    margin: 1rem;
    flex: 1;
    background-color:wheat ;
    height: fit-content;
    font-size: 0.9rem;
}

.left_name{
    font-weight: bold;
    font-size: 1rem;
}

.left_info> p,
.right_info> p{
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.left_info>p:last-child,
.right_info>p :last-child{
border: none;
}

.details_right{
    flex: 0.2;
}

.right_info{
    width:250px;
    margin:1rem;
    background-color: seashell;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right_info p {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2,1fr)
}

.addToCart {
    grid-column: 1/-1;
    padding: 10px 16px;
    background: black;
    color: blanchedalmond;
    border: 1 px solid black;
    cursor: pointer;
}

.selectQty{
padding: 10px 16px;
border:1px solid black;
}

@media (max-width: 960px){
    .product_details{
        flex-direction: column;
    }
    .details_left{
        flex-direction: column;  
        flex: 1;  
}
    .details_image{
    flex: 1;
}

.left_info{
    flex:1 ;
}

.details_right{
    flex: 1;
    padding: 1rem;
}
.right_info{
    width: 100%;
    margin: 0;
}

}


/*Cart item*/

.cart_item_image{
    max-height: 100px;
    height: auto;
    width: auto;
}

.cart_item {
width: 100%;
padding: 1rem;
margin-bottom: 8px;
display: grid;
grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
gap: 8px;
background-color: white;
border-radius: 2px;
place-items: center;
}

.cart_item_name{
    text-decoration: none;
    color: black;
}

.cart_item_price{
    text-decoration: none;
    color: black;
    
}

.cart_select{
    padding: 10px 17px
}

.delete_btn{
padding: 10px 17px;
color: red;
background-color: white;
border:1px solid black ;
cursor: pointer;
transition: all 0.3s ease-out;
}

.delete_btn{
    color: white;
    background-color: black;
}

@media (max-width: 700px){
    .cart_item_name{
        font-size: 0.8rem;
    }
    .cart_select,
        
    .delete_btn{
        padding: 8px 13px 
    }

    .cart_item_price{
        font-size: 0.8rem ;
    }
}

@media (max-width: 500px){
    .cart_item_name{
        font-size: 0.6rem;
    }
    .cart_select,
        
    .delete_btn{
        padding: 5px 8px 
    }

    .cart_item_price{
        font-size: 0.6rem ;
    }
}

/*cart*/

.cart_page{
    padding: 10px;
    display: flex;
    max-width: 100%;
    margin: 2rem auto;
}

.cart_page h2{
    margin-bottom: 1rem;
}

.cart_left{
    flex: 0.7;
    margin-right:  1rem;
    background-color: transparent;
    padding: 1rem;
}

.cart_right{
    flex: 0.3;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
}

.cart_right div{
    border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
    padding: 1rem;
}

.cart_right div:last-child{
border: none;
}

.cart_info p {
    padding: 8px
}

.cart_right div button{
    padding: 10px 17px;
    width: 100%;
    background: black;
    color: white;
    border:1px solid black;
    cursor: pointer;
}

.cart_right div button:hover{
    opacity: 0.9;
}

@media(max-width: 1280px){
.cart_page{
    max-width: 900px;
}
}

@media(max-width: 960px){
    .cart_page{
        max-width: 800px;
        flex-direction: column;
    }
    .cart_right{
        margin: 1rem;
    }
    }


    /*Contact*/
    
    .ContactUs {
        display: flex;
         padding: 50px;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    .C1{
    
        width: 700px;
        height: 500px;
    }
    
    .Contacts{
        color: rgb(41, 0, 58);
        display: flex;
        justify-content: center;
        align-items: center;
    }

/*About us*/

.AboutUsComp{
    width: 500px;
    margin-right: auto;
    margin-left: auto;

}

.AboutUs {
    
    color: rgb(70, 0, 100);
}
